# 2. 5 Comprobacion y Conversion de tipos de datos

In [2]:
print(-1, type(-1))

-1 <class 'int'>

In [3]:
print( 3.13456, type(3.13456))

3.13456 <class 'float'>

In [4]:
print('hola', type('hola'))

hola <class 'str'>

In [5]:
## str que Se√±ala cadena de caracteres

In [6]:
print( True, type(True))

True <class 'bool'>

In [7]:
print(None, type(None))

None <class 'NoneType'>

In [8]:
## None significa Ninguno y nonetype es de clase ninguno sirva para colocarlo como valor predeterminado, en caso que no hayamos definido el tipo de dato a utilizar

# Conversion de tipos

In [10]:
x=2;

print(type(x))

<class 'int'>

In [11]:
nu_x = str(x);

print(type(nu_x))

<class 'str'>

In [12]:
##Lo que hizimos fue a una variable como x convertirla en de un tipo de dato entero 'int' a otro tipo de dato que es un string o cadena

## Tambien podemos hacer una conversion sin asignar valores a una variable

In [13]:
print(int(2.1))

2

In [14]:
# Cambio un flotante por un entero

In [16]:
print(int(True),' y el otro es', int(False))

1  y el otro es 0

In [17]:
print(int('2'))

2

In [18]:
print(str(2))

2

In [19]:
print(str(3.23456))

3.23456

In [21]:
print(str(True),'y el otro es',str(False))

True y el otro es False

In [22]:
print(None)

None

In [23]:
## Asi se convierte los tipos de datos